.products-container {
  padding: 50px;
}

.products-container .cart-container {
  display: flex;
  align-items: center;
  font-size: 23px;
  text-decoration: none;
  color: black;
  margin-bottom: 50px;
}

.products-container .cart-container svg {
  margin-right: 10px;
}
.product-list-container {
  display: flex;
}

.product-list-container .single-product:not(:last-child) {
  margin-right: 20px;
}

.product-list-container .single-product {
  border: 1px solid #000;
  padding: 15px;
}

.product-list-container .single-product h2 {
  margin-bottom: 20px;
}

.product-list-container .single-product p {
  margin-bottom: 15px;
}

.product-list-container .single-product .price {
  font-weight: bold;
  font-size: 20px;
}

.product-list-container .single-product .single-product-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-list-container .single-product .single-product-link a {
  text-decoration: none;
  color: #000;
}

.product-list-container .single-product .single-product-link button {
  border: none;
  outline: none;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  transition: .1s;
}

.product-list-container .single-product .single-product-link button:hover {
  background-color: rgba(0, 0, 0, .8);
}